.git
.gitignore
.gradle
.gradle-local
.kotlin
.idea
.claude
.vscode
.DS_Store

build
**/build
out
**/out

.env
*.iml
*.iws
*.ipr

README.md
CONTRIBUTING.md
LICENSE.md
CLAUDE.md

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml
